body {
  background-color: #222;
}
.grid {
  --unit: 30px;
  position: relative;
  width: calc(var(--unit) * 11);
  height: calc(var(--unit) * 21);
  margin: var(--unit) auto 0;
  border: 2px solid #ccc;
  border-top: none;
}
.background,
.playground,
.game-alert {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* controls */
.grid::after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  content: attr(data-after);
  white-space: break-spaces;
  text-align: center;
  position: absolute;
  top: 100%;
  color: #fff6;
  padding: 10px;
}

/* Game Alert Design */
.grid .game-alert {
  background-color: #2227;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.game-alert h1 {
  color: #fff;
}
.game-alert button {
  padding: 5px;
}
/* Background Design */
.grid .horizontal-line {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #888;
  transform: translateY(50%);
}
.grid .vertical-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #888;
  transform: translateX(-50%);
}
/* Blocks Design */
.playground {
  overflow: hidden;
}
.playground .cell {
  position: absolute;
  width: var(--unit);
  height: var(--unit);
}
.background .cell-shadow {
  position: absolute;
  width: var(--unit);
  height: var(--unit);
  box-sizing: border-box;
  opacity: 0.3;
}
